---
const platform = "github";
const username = "withastro";
import Social from "./social.astro";
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <p>
        ¡Más información sobre mis proyectos en <a
            href={`https://www.${platform}.com/${username}`}>{platform}</a
        >!
    </p>
    <Social platform="X" username="alejandroip" />
    <Social platform="github" username="alejandroip" />
    <Social platform="youtube" username="alejandroip" />
</footer>
